*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color: rgb(129, 219, 235);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center ;
    padding: 24px;
}

.cabecalho-imagem{
    width: 15% ;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}